electiveServices/TryItPageAspNET/Connected Services/ServiceReference5/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="crimedata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stateAbbr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crimedataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crimedataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crimeCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ORI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crimeCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crimeCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>